@import "../../../styles/main.scss";

.largeAvatar {
  display: flex;
  align-items: center;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-typography
  + h1.ant-typography,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-typography
  + h2.ant-typography,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-typography
  + h3.ant-typography,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-typography
  + h4.ant-typography,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-typography
  + h5.ant-typography {
  margin-top: 0 !important;
}

.user-avatar {
  margin: 15px 15px;
  min-height: $fw-thin;

  .info-text {
    margin-left: 20px;
    text-align: left;
    font-weight: $fw-bold;
  }
}

.avatar-container {
  width: $avatar-larger;
  height: $avatar-larger;
  border-radius: 50%;
}

.avatar-initial {
  color: $white;
  font-size: $font-size-larger;
  font-weight: $fw-bold;
}
