@import "../../../styles/main.scss";

.classinfomodal {
  .ant-card-body {
    border: 1px solid $white !important;
    box-shadow: 0px 0px $lg-small rgba(0, 0, 0, 0.1);
    border-radius: $small !important;
    box-shadow: $small !important;
    max-width: $xx-sm-large;
    // width: fit-content;
    min-width: $x-sm-lager;
  }

  .first-line {
    display: flex;
    margin-bottom: $lg-small;
    justify-content: space-between;
    .headingh4 {
      margin: 0;
    }
  }
  .second-line {
    display: flex;
    flex-direction: center;
    padding-top: $xs-small;
    font-size: $medium;
  }
  .class::after {
    content: "|";
    margin: 0 $md-small;
  }
  .st::after {
    content: "-";
    margin: 0 $md-small;
  }
  .classstatus {
    margin-top: -$md-small;
  }
}
