@import "../../../styles/main.scss";

.class-info-modal {
  .ant-card-body {
    border: 1px solid $white !important;
    box-shadow: 0px 0px $lg-small rgba(0, 0, 0, 0.1);
    border-radius: $small !important;
    box-shadow: $small !important;
    min-width: $xx-large;
  }

  .first-line {
    display: flex;
    margin-bottom: $lg-small;
    justify-content: space-between;
    gap: $small;
     .class-title{
      text-overflow: ellipsis;
     }
  }
  .second-line {
    display: flex;
    flex-direction: center;
    padding-top: $xs-small;
    font-size: $medium;
  }
  .class::after {
    content: "|";
    margin: 0 $md-small;
  }
  .st::after {
    content: "-";
    margin: 0 $md-small;
  }
  .class-status {
    margin-top: -$md-small;
  }
}
