@import "../../../../Theme.scss";

.setting-icon {
    width: 30px;
    height: 30px;
}

.action-icon {
    width: 30px;
    height: 30px;
}

.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
    background-color: $darkblueprimary !important;
    color: white !important;
}

.ant-table-cell .ant-table-selection-column {
    background-color: $darkblueprimary !important;
}

.edit-container {
    margin-bottom: 1rem;
}

.edit-container-list {
    height: 70px;
    background-color: $darkblueprimary;
    margin: 1px;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
    padding-left: 20px;
}

.table-student-list {
    padding: 25px 25px 0px 25px;
}

.edit-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 25px;
}

.button-export-add {
    display: flex;
    align-items: center;
}

.button-export {
    background-color: $alert;
    display: flex;
    align-items: center;
}

.button-add {
    background-color: $darkblueprimary !important;
    display: flex;
    align-items: center;
}

.edit-button-search {
    width: 700px;
}

.ant-input-group-addon .ant-input-search-button {
    background-color: $darkblueprimary !important;
    display: flex;
    align-items: center;
    border-radius: 10px !important;
    margin-left: 8px;
}

.button-action {
    background-color: $unmodified;
    display: flex;
    color: white;
}

.button-action-container {
    display: flex;
    justify-content: end;
    margin-right: 25px;
}

.button-action:hover {
    background-color: $unmodified;
    color: white !important;
    border: none;
    border-radius: none;
}

.button-import {
    background-color: $green !important;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.custom-button {
    background-color: $darkblueprimary !important;
}