@import "../../../styles/main.scss";

.reserving {
  &-content {
    display: flex;
    // row-gap: $small;

    flex-direction: column;
    &-first-row {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-bottom: $small;
      &-left,
      &-right {
        display: flex;
        gap: $lg-large;
      }
    }

    &-classes {
      overflow: hidden;

      &-info {
        display: flex;
        overflow-x: scroll;
        column-gap: $medium;
        padding-bottom: $lg-small;
      }
    }
  }
}

.item-title {
  font-weight: $fw-semi-bold;
}

.reserving-info {
  &-content {
    padding-top: $small;
  }
}

@media (max-width: $sm) {
  .reserving-content-first-row-left,
  .reserving-content-first-row-right {
    grid-column: span 2;
  }
}
