@import "../../../styles/main.scss";

.avatar {
  gap: $small;
}

.avatar-img {
  width: $large;
  height: $large;
  flex-shrink: 0;
}

.user-name {
  width: 100px;
  cursor: pointer;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.dropdown {
  display: inline-block;
}
.content {
  z-index: 1;
  right: 0;
}
.btn {
  gap: $lg-small;
  margin-bottom: $small;
  border: none !important;
  border-radius: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $light-grey;
}
.link {
  text-decoration: none;
}
