@import "../../../styles/main.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $primary-color;
  border: none;

  &:hover {
    background-color: $primary-color !important;
    opacity: 0.9;
    color: $white !important;
  }

  strong {
    margin-left: 4px;
  }
}
