@import "../../Theme.scss";

.sidebar {
  background-color: $primary;
  width: 100%;
  left: 0;
  overflow-y: auto;
  min-height: 100vh;
}

.sidebar::-webkit-scrollbar {
  width: 0.5rem;
  background-color: $primary;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: $sub-info;
}

.sidebar-content {
  background-color: $primary;
}

.collapsed {
  width: 76px;
  background-color: $primary;
}

.bg-close {
  padding: 1rem 0 0 1.8rem;
  background-color: $primary;
  justify-content: center;
  cursor: pointer;
}

.btn-close {
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $lightblueprimary;
    border: 1px solid $darkblueprimary;
  }
}

.ant-menu-item-selected {
  font-weight: 700;
  align-items: center;
}


.ant-menu-submenu-selected {

  .ant-menu-submenu-title,
  .ant-menu-item-selected {
    font-weight: 700;
    align-items: center;
    background-color: $active-sidebar;
  }
}

@media (max-width: $md) {
  .sidebar-responsive {
    width: 76px;
    background-color: $primary;
    min-height: 85vh;
  }

  .bg-close {
    display: none;
  }
}

@media (max-width: $sm) {
  .sidebar-responsive {
    min-height: 84vh;
  }
}

@media (max-width: $lg) {
  .sidebar-responsive {
    min-height: 86.5vh;
  }
}

@media (max-width: $xs) {
  .sidebar-responsive {
    min-height: 84vh;
  }
}

@media (max-width: $xxl) {
  .sidebar-responsive {
    min-height: 78vh;
  }
}