@import "../../Theme.scss";

.btn-status {
    width: 100%;

    &--success {
        background-color: $green;

        &:hover {
            background-color: $green !important;
            opacity: 0.8;
        }
    }

    &--centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--outline {
        border: none;
    }

    &--null {
        border: 1px solid $black;
    }
}