@import "../../../styles/main.scss";

.table-status-name {
  margin-right: $lg-medium;
}

.table-in-mock {
  max-width: 100%;
  width: fit-content;
  .ant-card-head {
    padding: $lg-small;
    text-align: center;
    background-color: $orange !important;
    color: $white;
  }
}
