@import "../../../styles/main.scss";

.sidebar {
  background-color: $secondary-color;
  width: 100%;
  left: 0;
  flex: 1;
  min-height: 100vh;
}
.sidebar-content {
  background-color: $secondary-color;
}
.collapsed {
  width: 76px;
  background-color: $secondary-color;
}
.bg-close {
  padding: $medium 0 0 $lg-medium;
  background-color: $primary-color;
  justify-content: center;
  cursor: pointer;
}
.btn-close {
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: $light-blue;
    border: 1px solid $lighter-blue;
  }
}
.ant-menu-item-selected {
  font-weight: $fw-bold;
  align-items: center;
}

.ant-menu-submenu-selected {
  .ant-menu-submenu-title,
  .ant-menu-item-selected {
    font-weight: $fw-bold;
    align-items: center;
    background-color: $slight-blue;
  }
}

@media (max-width: $md) {
  .sidebar-responsive {
    width: 76px;
    background-color: $secondary-color;
    min-height: 100vh;
  }
  .bg-close {
    display: none;
  }
}
