@import '../../../Theme.scss';

//table styles
.table-container {
    margin-top: 1.5rem;
}

.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
    background-color: $main;
    color: $white;
}

.ant-table-column-sorter {
    color: $white !important;

    &:hover {
        color: $white;
    }
}

.ant-table-wrapper .ant-table-filter-trigger {
    color: $white !important;

    &:hover {
        color: $white !important;
        opacity: 0.8 !important;
    }
}

//button styles
.btn-more {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}