@import '../../Theme.scss';

footer {
  display: flex;
  bottom: 0;
  height: $xlarger;
  padding: $small;
  justify-content: center;
  align-items: center;
  gap: $small;
  flex-shrink: 0;
  background-color: $darkblueprimary;
  margin-top: auto;
  color: $white;
  text-align: center;
}