@import "../../../styles/main.scss";
.table-status-name {
  margin-right: $lg-medium;
}

.fee-tables {
  display: flex;
  overflow-x: auto;
  margin-bottom: $medium;
}

.quiz-table,
.asm-table,
.final-table {
  margin: 0 $small $small;
  box-shadow: 0px 0px $small rgba(0, 0, 0, 0.1);

  .ant-card-head {
    padding: $lg-small;
    text-align: center;
    background: $primary-color;
    color: $white;
  }
}
